@import "../../../assets/globalVariables";

.container {
  background-color: #FFFFFF;
  padding: 40px $leftAndRightPadding;

  h2 {
    width: 100%;
    text-align: start;
    color: #003680;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .containerForActivities {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 25px;
    row-gap: 25px;
    width: 100%;
    padding: 40px 0;
  }
}
