@import "../../../../../assets/globalVariables";

.container {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  padding-left: $leftAndRightPadding;
  $time: 350ms;

  img {
    transition: $time ease-in-out;

    height: 60px;
  }

  h1 {
    transition: $time ease-in-out;
    color: #003680;
    width: 50%;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: robotoBold, cursive;
  }

  &.min {
    img {
      height: 45px;
    }

    h1 {
      font-size: 0.9rem;
      font-family: robotoBold, cursive;
    }
  }
}
