.container {
  display: flex;
  column-gap: 20px;
  width: 60%;
  justify-content: center;

  a {
    font-size: 18px;
    color: black;
    transition: all 200ms ease-in-out;
    text-decoration: underline;
    text-decoration-color: transparent;
    font-weight: normal;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-color: black;
    }
  }
}
