.container {
  display: flex;
  column-gap: 40px;
  width: 60%;
  justify-content: center;
  align-items: center;

  a {
    font-size: 1.2rem;
    color: #3a3a3a;
    transition: all 200ms ease-in-out;
    text-decoration: underline;
    text-decoration-color: transparent;
    font-weight: normal;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-color: black;
    }
  }
}
