@import "../../assets/globalVariables";

.container {
  background-image: url("../../assets/images/makeAdonat.png");
  background-repeat: no-repeat;
  padding: 40px 385px 40px $leftAndRightPadding;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;

  h3 {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
  }
}
