.container {
  flex-grow: 10;
  padding: 0 40px 0 10px;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  row-gap: 20px;
  align-items: center;
  width: 70%;
  @media (max-width: 1100px) {
    width: 90%
  }
  @media (max-width: 700px) {
    width: 98%
  }

  h2 {
    width: 100%;
    text-align: start;
    color: #003680;
    font-size: 2rem;
    text-transform: uppercase;
  }

  p {
    width: 100%;
    color: black;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.4;
  }
}
