.container {
  flex-grow: 10;
  padding: 0 40px 0 10px;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  row-gap: 20px;
  width: 60%;


  h2 {
    width: 100%;
    color: #003680;
    font-size: 2rem;
    text-transform: uppercase;
  }

  p {
    width: 100%;
    color: black;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.4;
  }
}
