.container {
  display: flex;
  column-gap: 5px;
  justify-content: flex-start;
  align-items: center;
  //width: 100%;
  box-sizing: border-box;
  @media (max-width: 900px) {
    position: absolute;
    bottom: -20px;
    left: 40px;
  }
  @media (max-width: 700px) {
    //  width: 95%;
  }

  img {
    width: 40px;
  }

  h4 {
    color: white;
    font-size: 1rem;
    width: 160px;
    text-align: start;
    @media (max-width: 600px) {
      width: 80%;
    }
  }
}
