.container {
  display: flex;
  column-gap: 5px;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  @media (max-width: 900px) {
    position: absolute;
    bottom: 60px;
    right: 50px;
  }

  img {
    width: 50px;
  }

  h4 {
    color: white;
    font-size: 1.4rem;
    width: 160px;
  }
}
