
.container {
  background-color: #003680;
  padding: 10px var(--leftAndRightPadding);
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 2000;
  top: 0px;


  @media (max-width: 700px) {
    display: none;
  }

  .blockForContact {
    display: flex;
    column-gap: 10px;

    .iconPhone {
      font-size: 0.95rem;
      opacity: 0.5;
      color: #ffffff;
    }

    .tegForContact {
      color: white;
      font-size: 1rem;
      text-decoration: none;
      font-family: robotoBold, cursive;
    }
  }

  .blockForHeart {
    position: absolute;
    right: 50px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 5px;

    .ukrainianHeartImage {
      width: 25px;
    }

    span {
      color: white;
      font-size: 0.9rem;
    }
  }
}
