.mainContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .blockForTitleAndOther {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .blockForDiamond {
      background-color: #4444ff;
      display: flex;
      justify-content: center;
      width: 35%;
      border-radius: 40px;
      margin: 20px 0;
      border: 1px inset #002977;
      box-shadow: 0px 0px 10px 4px inset #4d4d4d;
      padding: 10px 0;

      .diamondIcon {
        color: #ffffff;
        font-size: 8rem;
        filter: drop-shadow(2px 2px 2px #16161c);
      }
    }

    h4 {
      font-size: 1.4rem;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .blockForHowMoney {
      display: flex;
      flex-direction: column;
      align-items: center;

      .mainSpan {
        font-weight: bold;
        font-size: 1.3rem;
      }

      span {
        font-size: 1.2rem;
      }
    }
  }

  .blockForOnlineDonat {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;

    h5 {
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    button {
      width: 40%;
      color: white;
      text-shadow: 1px 0px 1px #2c2c2c;
      background-color: #4444FF;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px inset blue;
      font-size: 0.8rem;
      transition: 250ms;

      &:hover {
        cursor: pointer;
        background-color: #2828ea;
      }
    }

    p {
      border-top: 1px solid rgba(84, 84, 84, 0.75);
      padding: 10px 5px;
      font-size: 1.1rem;
      color: black;
    }
  }
}
