.blockForLogoAndNav {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  transition: top 350ms, padding 350ms, height 300ms;
  position: fixed;
  width: 100vw;
  z-index: 2001;
  top: 35px;

  .navContainer {
    transition: 300ms;
    box-shadow: 0px 0px 5px 2px inset #949dbd;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
  }

  @media (max-width: 700px) {
    top: 0px;
  }
}

.emptyBlock {

  transition: 500ms;
  opacity: 0.5;
  width: 100%;
  float: left;
  height: 50px;
  display: block;
}
