@import "../../../../assets/globalVariables";

.container {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  padding-left: $leftAndRightPadding;

  img {
    height: 60px;
  }

  h1 {
    color: #003680;
    width: 50%;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
}
