.container {
  width: 70%;
  padding: 80px 0 40px 0;
  position: relative;
  z-index: 600;
  @media (max-width: 900px) {
    padding: 20px 0 10px 0;
  }
  @media (max-width: 850px) {
    width: 100%;
  }
  @media (max-width: 700px) {
    padding: 10px 0 10px 0;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px;
    padding: 10px 0;
    @media (max-width: 900px) {
      row-gap: 10px;
    }

    select, input, textarea {
      background-color: #F2F2F2;
      font-size: 1rem;
      border-radius: 5px;
      border: none;
      padding: 10px 35px;


      &.yellowStyle {
        // border: 2px solid #efb805;
      }

      &:hover {
        cursor: text;
      }
    }

    .blockForGroup {
      display: flex;
      width: 100%;
      column-gap: 5px;

      select {
        width: 35%;
        padding: 5px;
        @media (max-width: 900px) {
          font-size: 1.7rem;
        }
        @media (max-width: 700px) {
          width: 20%;
        }
        @media (max-width: 560px) {
          font-size: 16px;
          width: 22%;
        }
        @media (max-width: 480px) {
   
          width: 33%;
        }
      }

      input {
        width: 65%;
        @media (max-width: 700px) {
          width: 80%;
        }
        @media (max-width: 560px) {
          width: 77%;
        }
        @media (max-width: 480px) {
          width: 67%;
        }
      }
    }

    .blockForInput {
      display: flex;
      width: 100%;
      justify-content: space-between;
      position: relative;

      &:focus-within {
        //    outline: 2px solid #efb805;
        input {
          outline: 2px solid #efb805;
        }


        svg path {
          color: #efb805;
        }

      }

      input {
        width: 100%;
      }

      textarea {
        width: 100%;
        height: 120px;
        resize: none;
        @media (max-width: 1000px) {
          font-size: 1.4rem;
        }

      }

      .icon {
        height: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        padding: 0 7px;

        .iconStyle {
          font-size: 18px;
          color: #C4C4C4;

          &.yellowIcon {
            color: #EFCB03;
          }
        }
      }

    }
  }
}
