
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 15px;

  h4 {
    color: white;
    font-size: var(--fontSizeInFooterHeadlines);
  }

  .blockForContact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 10px;

    .contact {
      display: flex;
      column-gap: 15px;
      justify-content: flex-start;
      align-items: center;

      .icon {
        color: #d7d7d7;
        font-size: 1.3rem;
      }

      span {
        color: white;
        font-size: var(--fontSizeInFooter);
      }
    }
  }
}
