.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px 0px;
}
@media (max-width: 1000px) {
  .mainContainer {
    padding-right: 0;
    padding-top: 0px;
  }
}
.mainContainer .top {
  display: flex;
  gap: 150px;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .mainContainer .top {
    gap: 90px;
  }
}
@media (max-width: 1000px) {
  .mainContainer .top {
    gap: 60px;
    max-width: 100%;
  }
}
@media (max-width: 700px) {
  .mainContainer .top {
    gap: 10px;
  }
}
@media (max-width: 600px) {
  .mainContainer .top {
    flex-direction: column;
    gap: 40px;
  }
}
.mainContainer .top .left {
  flex-grow: 1;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-content: start;
  align-items: start;
}
@media (max-width: 600px) {
  .mainContainer .top .left {
    max-width: 100%;
  }
}
.mainContainer .top .left .title {
  text-align: start;
  color: #003680;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: start;
}
@media (max-width: 1200px) {
  .mainContainer .top .left .title {
    font-size: 24px;
  }
}
@media (max-width: 1000px) {
  .mainContainer .top .left .title {
    font-size: 21px;
  }
}
@media (max-width: 600px) {
  .mainContainer .top .left .title {
    padding-top: 20px;
  }
}
.mainContainer .top .left .description {
  font-size: 21px;
  line-height: 1.3;
  text-align: start;
  color: #414141;
}
@media (max-width: 1200px) {
  .mainContainer .top .left .description {
    font-size: 18px;
  }
}
@media (max-width: 1000px) {
  .mainContainer .top .left .description {
    font-size: 16px;
  }
}
.mainContainer .top .right {
  display: flex;
  justify-content: flex-end;
}
.mainContainer .top .right .imageStyle {
  width: 280px;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 1px rgba(176, 176, 176, 0.69);
  max-width: 40vw;
}
@media (max-width: 600px) {
  .mainContainer .top .right .imageStyle {
    max-width: initial;
    width: 100%;
  }
}
.mainContainer .blockForPersons {
  margin: 40px 0;
  width: 100%;
  background-color: #1B1D3C;
  padding: 15px 0px 25px 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px rgba(231, 231, 231, 0.24);
}
.mainContainer .blockForPersons .title {
  font-size: 28px;
  color: white;
}
.mainContainer .blockForPersons .persons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}
.mainContainer .blockForPersons .persons .personBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainContainer .blockForPersons .persons .personBlock .imgPerson {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px rgba(204, 204, 204, 0.19);
}
.mainContainer .blockForPersons .persons .personBlock .blockLinia {
  margin: 28px 0 10px 0;
  height: 4px;
  width: 700%;
  background-color: #d3d11b;
  position: relative;
}
.mainContainer .blockForPersons .persons .personBlock .blockLinia .circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  content: "";
  display: block;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  background-color: #d3d11b;
}
.mainContainer .blockForPersons .persons .personBlock .name {
  font-size: 19px;
  color: white;
  margin: 10px 0 10px 0;
}
.mainContainer .blockForPersons .persons .personBlock .description {
  font-size: 17px;
  color: white;
}

.arrow {
  top: 70px;
}
@media (max-width: 700px) {
  .arrow {
    top: 30px;
  }
}

.persons {
  --swiper-pagination-bottom: 50px;
}
.persons .swiper-pagination {
  margin-top: 20px !important;
  text-align: center;
}
.persons .swiper-pagination .swiper-pagination-bullet {
  background-color: #FFD700 !important;
  opacity: 1;
}
.persons .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #FFBF00 !important;
}

.bulletClass {
  padding-top: 20px;
}

/*# sourceMappingURL=DepartmentCommunications.module.css.map */
