@import "../../../../assets/globalVariables";

.container {
  background-color: #FFFFFF;
  padding: 40px $leftAndRightPadding;

  h2 {
    width: 100%;
    text-align: start;
    color: #003680;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .shortDescriptionUnderHeadline {
    margin-top: 10px;
    color: black;
    line-height: 1.1;
    font-size: 1.2rem;
    text-align: start;
  }

  .containerForActivities {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 25px;
    row-gap: 25px;
    width: 100%;
    padding: 40px 0;
  }

  .blockForBtn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
