@font-face {
  font-family: robotoLight;
  src: url("./assets/fonts/Roboto_Condensed/static/RobotoCondensed-Light.ttf");
}

body {
  margin: 0;
}

@font-face {
  font-family: robotoBold;
  src: url("./assets/fonts/Roboto_Condensed/static/RobotoCondensed-ExtraBold.ttf");
}

.App {
}

h6, h5, h4, h3, h2, h1, p {
  font-family: robotoLight, cursive;
  margin: 0;
  text-align: center;
}

div, section, aside, nav, header, footer, main {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  @media(max-width: 1100px) {
    font-size: 12px;
  }
  /*@media(max-width: 900px) {
    font-size: 10px;
  }
  @media(max-width: 450px) {
    font-size: 9px;
  }
  @media(max-width: 380px) {
    font-size: 8px;
  }*/
}

.containerForSubPage {
  padding: 85px var(--leftAndRightPadding) 40px var(--leftAndRightPadding);
  display: flex;
  flex-grow: 10;
  position: relative;

  &.withImage {
    padding-top: 0;
  }

  @media (max-width: 800px) {
    padding: 62px var(--leftAndRightPadding) 30px var(--leftAndRightPadding);
  }
  @media (max-width: 700px) {
    padding: 45px var(--leftAndRightPadding) 30px var(--leftAndRightPadding);
  }
  @media (max-width: 600px) {
    padding: 48px var(--leftAndRightPadding) 30px var(--leftAndRightPadding);
  }
}

@media (max-width: 800px) {
  input {
    font-size: 16px !important;
  }
}


.flexibleBlock {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

