@import "./assets/globalVariables";

.App {
}

h6, h5, h4, h3, h2, h1, p {
  margin: 0;
  text-align: center;
}

div, section, aside, nav, header, footer, main {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.containerForSubPage {
  padding: 180px $leftAndRightPadding 40px $leftAndRightPadding;
  display: flex;
  flex-grow: 10;
  position: relative;
}

.flexibleBlock {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

